{{#http://www.welovecss.com/showthread.php?t=451}}
{{#http://www.css3.info/}}
{{#http://www.fonttester.com/}}


<!-- IGNORE - not being used -->

<html>
<head>
<script src="https://{{=request.env.http_host}}/{{=request.application}}/static/js/jquery.js" type="text/javascript"></script>
<script src="https://{{=request.env.http_host}}/{{=request.application}}/static/js/web2py_ajax.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper" style="background:white;text-align:left;
border: 2px solid black;
padding: 8px;
font-size:small;
position:fixed;
top:10px;
bottom:10px;
left:10px;
right:10px;
-moz-box-shadow: 0px 0px 5px #888888;
-webkit-box-shadow: 0px 0px 5px rgb(136, 136, 136);
box-shadow: 2px 2px 10px rgb(136, 136, 136);
-moz-border-radius: 10px;
border-radius: 10px;
font-family: 'Trebuchet MS', Helvetica, sans-serif;">

<div style="position:fixed;top:18px;left:18px;right:18px;bottom:18px;font-family: 'Trebuchet MS', Helvetica, sans-serif;font-size:small;">

{{#http://www.etomite.com/topic/5933-distribute-columns-evenly/}}
<table style="font-size:small;">
<tr style="font-weight:bold;"><td width="20%">PP</td><td width="20%">EB</td><td width="20%">SV</td><td width="20%">X</td><td width="20%">O</td><td width="20%">BL</td></tr>
<tr><td>{{=pp}}</td><td>{{=eb}}</td><td>{{=sv}}</td><td>{{=x}}</td><td>{{=o}}</td><td>{{=bl}}</td></tr>
</table>

<div id="answer" style="padding:2px 6px 2px 6px;background:#000088;color:white;border-radius:6px;">{{=XML(answer)}}</div>

{{#http://www.w3schools.com/cssref/pr_pos_overflow.asp}}
{{#http://www.freebits.co.uk/scroll-box-using-css.html}}
<table><tr><td><span id="responses" style="position: fixed;
right: 20px;
left: 20px;
bottom: 20px;
top: 100px;
width: 160px;
height: 150px;
overflow-y: auto;">
{{for c in comments:}}
{{if c.comment != "":}}
<table style="font-size:small;"><tr><td style="vertical-align:top;"><b>{{=c.voter.username}}:</b></td><td>{{=c.comment}}</td></tr></table>
{{pass}}
{{pass}}
</span></td></tr></table>

</div>

</div>
</body>
</html>
