{{#http://www.welovecss.com/showthread.php?t=451}}
{{#http://www.css3.info/}}
{{#http://www.fonttester.com/}}


<!-- IGNORE - not being used -->

<html>
<head>
<script src="https://{{=request.env.http_host}}/{{=request.application}}/static/js/jquery.js" type="text/javascript"></script>
<script src="https://{{=request.env.http_host}}/{{=request.application}}/static/js/web2py_ajax.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper" style="background:white;text-align:left;
border: 2px solid black;
padding: 8px;
font-size:small;
position:fixed;
top:10px;
bottom:10px;
left:10px;
right:10px;
-moz-box-shadow: 0px 0px 5px #888888;
-webkit-box-shadow: 0px 0px 5px rgb(136, 136, 136);
box-shadow: 2px 2px 10px rgb(136, 136, 136);
-moz-border-radius: 10px;
border-radius: 10px;
font-family: 'Trebuchet MS', Helvetica, sans-serif;">

<div style="position:fixed;top:18px;left:18px;right:18px;bottom:18px;font-family: 'Trebuchet MS', Helvetica, sans-serif;font-size:small;">
<b>{{=request.vars.q}}</b><br />

<table style="font-size:small;">
{{first = True}}
{{for z in zipped:}}
{{if first:}}
<tr style="font-weight:bold;background:#FFFFCC;"><td>{{=z[0].answer}}</td><td>{{=z[1]}}</td></tr>{{first=False}}
{{else:}}
<tr><td>{{=z[0].answer}}</td><td>{{=z[1]}}</td></tr>
{{pass}}
{{pass}}
</table>

</div>

</div>
</body>
</html>
