{{extend 'layout.html'}}

<!--- IGNORE - no longer used --->

<div id="poll_1">
<input type="hidden" name="q1" value="What is your favorite color?" />
What is your favorite color?<br />
<select name="a1">
<option value="black">Black</option>
<option value="blue">Blue</option>
<option value="brown">Brown</option>
<option value="gray">Gray</option>
<option value="green">Green</option>
<option value="gold">Gold</option>
<option value="orange">Orange</option>
<option value="pink">Pink</option>
<option value="purple">Purple</option>
<option value="turquoise">Turquoise</option>
<option value="red">Red</option>
<option value="white">White</option>
<option value="yellow">Yellow</option>
</select><br />
<input type="button" value="Submit" onclick="ajax('https://{{=request.env.http_host}}/vote',['q1','a1'],'poll_1')"/>
</div>

<br />

<div id="poll_2">
<input type="hidden" name="q2" value="Pick a number between one and five." />Pick a number between one and five.<br />
<input type="radio" name="a2" value="one">One</option><br />
<input type="radio" name="a2" value="two">Two</option><br />
<input type="radio" name="a2" value="three">Three</option><br />
<input type="radio" name="a2" value="four">Four</option><br />
<input type="radio" name="a2" value="five">Five</option><br />
<input type="button" value="Submit" onclick="ajax('https://{{=request.env.http_host}}/vote',['q2','a2'],'poll_2')"/>
</div>
