{{extend 'layout.html'}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>

{{if request.args(0) in ['change_password','reset_password']:}}
<!-- Allows user to change password -->
Please do not use the same password that you use for other services!
{{pass}}

{{if request.args(0) in ['request_reset_password']:}}
<!-- no longer used -->
You will receive an e-mail from an address that starts with <b>info.filtergraph</b>. If if does not show up in your inbox, check your spam folder. 
{{pass}}

<div id="web2py_user_form">
{{=form}}

{{if request.args(0)=='login':}}
<!-- Main login page -->
    <br/><br/>
    <b>Access to the KELT North and South candidate selection page ("KELT Voting") is restricted to members of the KELT project.</b> If you believe you should have access to the candidate selection page, please contact <a href="http://jpepper.cas2.lehigh.edu/" target="_blank">Joshua Pepper</a>.<br/><br/>
<b>Note to Filtergraph users:</b> Your Filtergraph login is separate from your KELT Voting login. This is done in order to keep both websites running as efficiently as possible.<br/><br/>
If you want to reset your password, or if you have questions or comments about the voting system in general, please contact <a href="https://my.vanderbilt.edu/danburger/contact/" target="_blank">Dan Burger</a>.
{{pass}}
</div>


{{pass}}

    
{{if request.args(0)=='profile':}}
<!-- Link to change password -->
{{if not 'change_password' in auth.settings.actions_disabled:}}
<br/><a href="{{=URL(r=request,args='change_password',vars={'next':'javascript:history.back()'})}}">Change Password</a>
{{pass}}
{{pass}}