{{from datetime import datetime}}
        
        <div id="user_info" style="background: #FFFFC0; text-align:left;
padding: 4px;
border-bottom: 1px #DDDDB0 solid;
font-family: 'Trebuchet MS', Helvetica, sans-serif;
position:fixed;
left:0px;
right:0px;
top:0px;
z-index:9999">
{{#http://forums.digitalpoint.com/showthread.php?t=740428}}
&nbsp;&nbsp;Welcome, {{=auth.user.first_name}}.&nbsp;&nbsp;&nbsp;&nbsp;
<a href='https://{{=request.env.http_host}}/{{=request.application}}/default/user/logout'>Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
    {{if not auth.has_membership('guest'):}}<a href='https://{{=request.env.http_host}}/{{=request.application}}/default/user/profile/' target="_blank">Change user info</a>&nbsp;&nbsp;&nbsp;&nbsp;{{pass}}
{{if not auth.has_membership('guest') and not auth.has_membership('no-vote') and not auth.has_membership('blocked'):}}<a href='https://{{=request.env.http_host}}/{{=request.application}}/default/review_votes' target="_blank">Review votes</a>&nbsp;&nbsp;&nbsp;&nbsp;{{pass}}
{{if auth.has_membership('admin'):}}
<a href='https://{{=request.env.http_host}}/{{=request.application}}/admintools/elections_select' target="_blank">Admin tools</a>&nbsp;&nbsp;&nbsp;&nbsp;{{pass}}
<a href='#' onclick='keyboardHelp()'>Keyboard shortcuts{{if datetime.now() < datetime(2017, 4, 1, 0, 0):}}<sup style="color:red">new</sup>{{pass}}</a>&nbsp;&nbsp;&nbsp;&nbsp;

    <div style="float:right;padding-right:10px"><div id="voterefresh" ></div>
        <span id="updatenotice" style="display:none">Unable to refresh data. <input type="button" onclick="refresh_votes()" value="Try again"></span></div>

</div>

<div style="background:#FFFFC0;border:3px solid black;position:fixed;left:20px;bottom:20px;font-size:32px;padding:10px;display:none" id="snackbar">
    hello
</div>

<script>
    var snackbarTimer;
function snackbar(s) {
    $("#snackbar").text(s);
    $("#snackbar").show();
    clearTimeout(snackbarTimer)
    snackbarTimer = setTimeout (function () {
        $("#snackbar").hide();
    },3000);
}
function keyboardHelp() {
    $("#snackbar").html("\
    <span style='font-size:16px'>\
<b>Keyboard shortcuts for candidate, variability, SuperWASP and ASAS pages:</b><br/>\
Press P for potential planet<br/>\
Press E for eclipsing binary<br/>\
Press S for sinusodial variation<br/>\
Press X for spurious<br/>\
Press O for other<br/>\
Press B for blend<br/>\
Press C to comment<br/>\
Press J for previous<br/>\
Press K for next<br/>\
Alternatively, press comma for previous and period for next<br/>\
Alternatively, press N for next<br/>\
Press H for brighter<br/>\
Press L for fainter<br/>\
Press V for variability<br/>\
Press W for SuperWASP<br/>\
Press A for ASAS<br/>\
Press R for RFP<br/>\
Press M for main candidate page (from variability, SuperWASP, or ASAS)<br/>\
Press I (letter) for the index page<br/>\
Press 1 (number) for the first candidate in a field<br/>\
Press D for SIMBAD page (main candidate page only)<br/><br/>\
<a href='#' onclick='$(\"#snackbar\").hide();'>Close</a>\
    </span>\
    ");
    $("#snackbar").toggle();
    clearTimeout(snackbarTimer);
}

var submitting = false;
var redirectAfterSubmit;
var usedKeyboardToVote = false;
function redirect(location) {
    link = $("a:contains("+location+"):eq(0)")
    if(link.length==0) {
        if(location == "SuperWASP" || location == "ASAS" || location == "RFP" || location == "SIMBAD")
        {
            snackbar("No " + location + " page");
            return;
        }
        else
        {
            snackbar("No " + location.toLowerCase() + " page");
            return;
        }
    }
    if(submitting) {
        redirectAfterSubmit = location;
        return;
    }
    if(!redirectAfterSubmit)
    {
        snackbar(location);
    }
    window.location.href = link.attr("href");
}

function keyboardVote(option)
{
    component = $("input[value~="+option+"]:eq(0)")
    if(component.length == 0)
    {
        snackbar("Voting is closed.");
        return;
    }
    component.click();
    submitting = true;
    usedKeyboardToVote = true;
}

{{if ("_K" in request.url) or ("_V" in request.url) or ("_A" in request.url) or ("_S" in request.url):}}
Mousetrap.bind('p', function() { 
    keyboardVote("PP");
});
Mousetrap.bind('e', function() { 
    keyboardVote("EB");
});
Mousetrap.bind('s', function() { 
    keyboardVote("SV");
});
Mousetrap.bind('x', function() { 
    keyboardVote("X");
});
Mousetrap.bind('o', function() {
    keyboardVote("O");
});
Mousetrap.bind('b', function() { 
    keyboardVote("BL");
});
var commentText;
Mousetrap.bind('c', function() { 
    commentText = $("textarea:eq(0)").val();
    if(commentText == "Add a comment...")
    {
        commentText = ""
    }
    $("textarea:eq(0)").focus();
    $("body").animate({scrollTop:0},'fast');
    setTimeout(function() {
        $("textarea:eq(0)").val(commentText);
    },100);
});
Mousetrap.bind('j', function() { 
    redirect("Previous");
});
Mousetrap.bind('k', function() { 
    redirect("Next");
});
Mousetrap.bind('n', function() { 
    redirect("Next");
});
Mousetrap.bind(',', function() { 
    redirect("Previous");
});
Mousetrap.bind('.', function() { 
    redirect("Next");
});
Mousetrap.bind('h', function() { 
    redirect("Brighter");
});
Mousetrap.bind('l', function() { 
    redirect("Fainter");
});
Mousetrap.bind('v', function() { 
    redirect("Variability");
});
Mousetrap.bind('w', function() { 
    redirect("SuperWASP");
});
Mousetrap.bind('a', function() { 
    redirect("ASAS");
});
Mousetrap.bind('r', function() { 
    redirect("RFP");
});
Mousetrap.bind('m', function() { 
    redirect("Main");
});
Mousetrap.bind('i', function() { 
    redirect("Index");
});
Mousetrap.bind('1', function() { 
    redirect("Start");
});
Mousetrap.bind('d', function() { 
    redirect("SIMBAD");
});
{{else:}}
Mousetrap.bind('p', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('e', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('s', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('x', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('o', function() {
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('b', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('c', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('j', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('k', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('n', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind(',', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('.', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('h', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('l', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('v', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('w', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('a', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('r', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('m', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('i', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('1', function() { 
    snackbar("No keyboard shortcuts on this page");
});
Mousetrap.bind('d', function() { 
    snackbar("No keyboard shortcuts on this page");
});
{{pass}}

{{if response.refresh_enabled:}}
    var load_time = "{{=request.now}}";
var queryno = 0;
function refresh_votes()
    {
        queryno += 1;
        oldqueryno = queryno;
        setTimeout (function () {if(queryno == oldqueryno) {$("#updatenotice").fadeIn(100);}},1000);
        $('#voterefresh').load('https://{{=request.env.http_host}}/{{=request.application}}/default/refresh_votes',{'time':load_time});
    }

$(window).focus(function() {
    //$("#updatenotice").fadeIn(100);
    refresh_votes();
});

$(function () {
    //$("#updatenotice").fadeIn(100);
    refresh_votes();
    $("choice[style^='background'] input").attr("checked","checked");
});



{{pass}}
</script>