{{#http://www.welovecss.com/showthread.php?t=451}}
{{#http://www.css3.info/}}
{{#http://www.fonttester.com/}}
<html>
<head>
<script src="https://{{=request.env.http_host}}/{{=request.application}}/static/js/jquery.js" type="text/javascript"></script>
<script src="https://{{=request.env.http_host}}/{{=request.application}}/static/js/web2py_ajax.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper" style="background:white;text-align:left;
border: 2px solid black;
padding: 8px;
font-size:small;
position:fixed;
top:10px;
bottom:10px;
left:10px;
right:10px;
-moz-box-shadow: 0px 0px 5px #888888;
-webkit-box-shadow: 0px 0px 5px rgb(136, 136, 136);
box-shadow: 2px 2px 10px rgb(136, 136, 136);
-moz-border-radius: 10px;
border-radius: 10px;
font-family: 'Trebuchet MS', Helvetica, sans-serif;">

<script type="text/javascript">
var orig_comment = "{{=comment_2}}";
</script>

<div id="result" style=""></div>

<div style="position:fixed;top:18px;left:18px;right:18px;bottom:18px;font-family: 'Trebuchet MS', Helvetica, sans-serif;font-size:small;">
<div style="height:5px;"></div>
<input type="hidden" name="q" value="{{=question}}">
{{for choice in choices:}}
<choice name="{{=choice}}" style=""><input type="radio" name="a" value="{{=choice}}" {{if not auth.user_id:}}disabled="disabled"{{else:}}onclick="submit_vote()"{{pass}}>{{=choice}}</input></choice>{{if not request.vars.h:}}<br />{{pass}}
{{pass}}
<div id="comment" style="color:#800;padding-top:8px;height:60px;overflow-y:auto;">{{if comment_2 != "":}}{{=comment_2}}{{else:}}No comments{{pass}}</div>
{{#ref: http://api.jquery.com/height/}}
<textarea id="cfield"
       name="cfield" 
       rows="1"
       style="width: 160px; font-family: arial, helvetica, sans-serif; font-size:small;"
       onfocus="this.value = orig_comment;$('#comment').html('Press enter to submit.');$('#comment').height(20);this.rows=3;"
       onkeydown="if(event.keyCode==13){this.rows=1;document.getElementById('c').value = this.value;this.value='Edit comment...';orig_comment = 'Sending...';submit_vote();this.blur();$('#comment').height(60);}"
       {{if not auth.user_id:}} disabled="disabled" {{pass}} 
       autocomplete="off"/>
{{if comment_2 != "":}}Edit comment...{{else:}}Add a comment...{{pass}}
</textarea>
<input type="hidden" id='c' name="c" value="{{=comment_2}}">
</div>
<script type="text/javascript">
{{if auth.user_id:}}
function submit_vote()
{
    ajax('https://{{=request.env.http_host}}/{{=request.application}}/default/submit_vote/',['q','a','c'],'result');
}
{{pass}}
x = "{{=default_choice}}";
x = x.replace("&#x27;","'").substring(0,2);
$('choice').css("padding","2px 6px 2px 0px");
$('input[value*="'+x+'"]').attr('checked','checked');
$('choice[name*="'+x+'"]').css("background","#000088");
$('choice[name*="'+x+'"]').css("color","white");
$('choice[name*="'+x+'"]').css("border-radius","6px");
//ref: http://api.jquery.com/category/selectors/
//ref: http://www.w3schools.com/jsref/jsref_substring.asp
</script>

</div>
</body>
</html>
