<!DOCTYPE html>
<html dir="ltr" class="js flexbox flexboxlegacy canvas canvastext webgl touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-futurapt-n7-active wf-futurapt-n4-active wf-anzeigengrotesk-n4-active wf-mrseaves-n4-active wf-mrseaves-n7-active wf-mrseaves-i4-active wf-mrseavesxlserif-n4-active wf-active" lang="en-US">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="author" content="3twenty9 Design, LLC.">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="">
      <meta name="keywords" content="">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
         rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
      <link rel="shortcut icon" href="https://keltsurvey.org/app/kelt/assets/addons/shared/threetwentynine/canvas-theme/resources/img/kelt/favicon.png?v=1546456548">
      <script src="https://use.typekit.net/spr1akr.js"></script>
      <script>try{Typekit.load({async:!0})}catch(e){}</script>
      <link media="all" type="text/css" rel="stylesheet" href="/vote/static/new/theme.css">
      <link media="all" type="text/css" rel="stylesheet" href="/vote/static/new/icons.css">
      <script type="text/javascript">
         const APPLICATION_URL = "https://keltsurvey.org";
         const APPLICATION_REFERENCE = "kelt";
         const APPLICATION_DOMAIN = "keltsurvey.org";
         const CSRF_TOKEN = "96aU50E5ohNktLnCWoQI1AVxvB9lDfl5CjDX9W8A";
         const APP_DEBUG = "";
         const APP_URL = "https://keltsurvey.org";
         const REQUEST_ROOT = "https://keltsurvey.org";
         const REQUEST_ROOT_PATH = "";
         const TIMEZONE = "America/New_York";
         const LOCALE = "en"
      </script>
      <title>KELT Candidate Selection Pages</title>
   </head>
   <body class="stretched&gt;&lt;div id= device-lg" wrapper="">
      <header id="header">
         <div id="header-wrap">
            <div class="container clearfix">
               <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
               <div id="logo"><img src="/vote/static/new/kelt-logo.png" alt="KELT" class="header-logo"></div>
               <!-- #logo end -->
               <nav id="primary-menu">
                  <ul class="sf-js-enabled" style="touch-action: pan-y;">
                     {{if auth.has_membership("admin"):}}
                     <li>
                        <a href="/vote/admintools/elections_select">
                           <div>Admin tools</div>
                        </a>
                     </li>
                     {{pass}}
                     <li>
                        <a href="/quick/north">
                           <div>North</div>
                        </a>
                     </li>
                     <li>
                        <a href="/quick/south">
                           <div>South</div>
                        </a>
                     </li>
                     <li>
                        <a href="/quick/joint">
                           <div>Joint</div>
                        </a>
                     </li>
                     <li>
                        <a href="https://keltsurvey.org/">
                           <div>Return to keltsurvey.org</div>
                        </a>
                     </li>
                  </ul>
               </nav>
               <!-- #primary-menu end -->
            </div>
         </div>
      </header>
      <!-- #header end --><!-- Success Messages --><!-- Informational Messages --><!-- Warning Messages --><!-- Error Messages -->
      <div class="subpage">
         <div class="header">
            <div class="container">
               <h1>KELT Candidate Selection Pages</h1>
            </div>
         </div>
         <div class="content-wrapper">
            <div class="content-area-wrapper">
               <div class="content-area container" style="font-size:150%">
                  {{if response.flash:}}
                  <h1>{{=response.flash}}</h1>
                  {{pass}}
                  {{include}}
                  <br/><br/><br/>
               </div>
            </div>
         </div>
      </div>
      <footer id="footer" style="margin-top: 886px;">
         <div class="footer-wrapper">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <p>KELT is an astronomical survey that discovers planets outside our solar system, and measures the changing sky.</p>
                  </div>
                  <div class="col-md-2 col-sm-3"><a href="https://physics.cas2.lehigh.edu/" target="_blank"><img src="/vote/static/new/lushield.svg" alt="Lehigh University" class="lehigh-u"></a></div>
                  <div class="col-md-2 col-sm-3"><a href="https://astronomy.osu.edu/" target="_blank"><img src="/vote/static/new/osu.png" alt="Ohio State University"></a></div>
                  <div class="col-md-2 col-sm-3"><a href="https://as.vanderbilt.edu/physics/" target="_blank"><img src="/vote/static/new/vanderbilt.png" alt="Vanderbilt University" class="vanderbilt"></a></div>
                  <div class="col-md-3 col-sm-6"><a href="https://keltsurvey.org/"><img src="/vote/static/new/kelt-logo.png" alt="KELT" class="footer-logo"></a></div>
               </div>
            </div>
         </div>
         <div id="copyrights">
            <div class="container clearfix">
               <p>SITE DESIGNED AND DEVELOPED BY <a href="https://3twenty9.com/" target="_blank">3TWENTY9 DESIGN, LLC.</a></p>
            </div>
         </div>
      </footer>
      <!-- #wrapper end -->
      <div id="gotoTop" class="icon-angle-up"></div>
      <script src="/vote/static/new/modernizr.js"></script><script src="/vote/static/new/jquery.js"></script><script src="/vote/static/new/jquery-ui.js"></script><script src="/vote/static/new/theme.js"></script>
   </body>
</html>