{{extend 'layout.html'}}

<!-- Election list -->

<h2>Select elections</h2>
{{if request.args:}}<h3>{{=T('For %s #%s' % (request.args(0)[2:],request.args(1)))}}</h3>{{pass}}

{{=A(T('create new elections'),_href=URL('elections_create'))}}
<br/>

{{if rows:}}
  {{headers=dict((str(k),k.label) for k in db.elections)}}
  {{=SQLTABLE(rows,headers=headers)}}
{{else:}}
  {{=TAG.blockquote(T('No Data'))}}
{{pass}}

<!-- Expiry list -->

<h2>Current expiry times</h2>

{{=A(T('create new expiry time'),_href=URL('expiry_times_create'))}}
<br/>

{{if exptimes:}}
  {{exp_headers=dict((str(k),k.label) for k in db.expiry_times)}}
  {{=SQLTABLE(exptimes,headers=exp_headers)}}
{{else:}}
  {{=TAG.blockquote(T('No Data'))}}
{{pass}}

<!-- User list -->
<!-- Note: blocked users are removed -->

{{if users:}}
  <h2>Current users</h2>
  {{=A(T('create new user'),_href=URL('users_create'))}}<br/>
  {{for user in users:}}
  {{if not auth.has_membership(user_id=user.id,role='blocked'):}}
  {{=A(T('edit'),_href=URL('users_update',args=user.id))}} {{=A(T('delete'),_href=URL('users_delete',args=user.id))}}
  {{=user.first_name}} {{=user.last_name}} ({{=user.username}})   
  {{if auth.has_membership(user_id=user.id,role='admin'):}}<b>admin </b>{{pass}}
  {{if auth.has_membership(user_id=user.id,role='no-vote'):}}<b>non-voting </b>{{pass}}
  {{if auth.has_membership(user_id=user.id,role='guest'):}}<b>guest </b>{{pass}}
  <br/>{{pass}}
  {{pass}}
{{else:}}
  {{=TAG.blockquote(T('No Data'))}}
{{pass}}
