{{extend 'layout.html'}}

<!-- Display form -->

{{if 'form' in globals():}}
<h2>Create new user</h2>
{{=form}}
{{pass}}

<!-- After form has been submitted -->

{{if 'password' in globals():}}
<h2>Copy and paste to an email</h2>
Username: {{=username}}<br/>
Password: {{=password}}<br/>
You can change your user info by clicking on "Change user info" once you log in.
{{pass}}
